body {
      font-size: 20px;
      color: #000000;
      font-family: 'Open Sans', sans-serif;
}
.panel-default>.panel-heading {
    color: #ffffff;
    background-color: #da5050;
    border-color:  #da5050;
}